$Color1: #040F0F;
$Color2: #4466D4;
$Color3: #ffffff;
$Color4: #7F14D4;
$Color5: #0E14EE;

@mixin width20 {
  width: 20%;
  margin: auto;
}

@mixin width30 {
  width: 30%;
  margin: auto;
}

@mixin width40 {
  width: 40%;
  margin: auto;
}

@mixin width55 {
  width: 55%;
  margin: auto;
}

@mixin width60 {
  width: 60%;
  margin: auto;
}

@mixin width70 {
  width: 70%;
  margin: auto;
}

@mixin width80 {
  width: 80%;
  margin: auto;
}

@mixin flexColumnBet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexNoCenter {
  display: flex;
  justify-content: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text12 {
  font-size: 12px;
}

@mixin text14 {
  font-size: 14px;
}

@mixin text16 {
  font-size: 16px;
}

@mixin text20 {
  font-size: 20px;
}

@mixin text22 {
  font-size: 22px;
}

@mixin text25 {
  font-size: 25px;
}

@mixin text30 {
  font-size: 30px;
}

@mixin text40 {
  font-size: 40px;
}

@mixin text50 {
  font-size: 50px;
}

@mixin text60 {
  font-size: 60px;
}

@mixin weightBold {
  font-weight: bold;
}

@mixin weight500 {
  font-weight: 500;
}

@mixin button {
  color: $Color2;
  padding: 0 10px;
  border: 1px solid $Color2;
  border-radius: 5px;
  height: 35px;

  div {
    width: 18px;
    margin-right: 5px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
